:root {
    --main-bg-color: #1B1B3A;
    --header-bg-color: #EBEBEB;
    --card-box-color: #EBEBEB;
    --text-light-color: #EBEBEB;
    --border-color: #748179;
    --dark-border-color: #3a403c;
    --dark-bg-color: #3a403c;
    --details-color: #BAB700;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: var(--main-bg-color) ;
}

.header-global {
    background-color: var(--header-bg-color);
    padding: 10px;
    height: 8vh;
    min-height: calc(75%);
}

.header-logo {
    display: inline-block;
    width: 600px;
    height: auto;
    max-height: 90px;
    border: 1px solid red;
}

.container-links-header {
    display: inline;
    border: 1px solid red;
    line-height: 8vh;
    height: 60px;
    max-width: 40vw;
    margin-left: 3vw;
    
}

.div-header-link {
    display: inline;
    height: fit-content;
    width: fit-content;
    margin-left: 5vw;
    cursor: pointer !important;
}

a {
    color: #3a403c;
    text-decoration: none;
}

.header-link {
    font-size: 1.2rem;
}

.card-box {
    border: 1px solid var(--border-color);
    padding: 20px;
    margin: 10px;
    width: 20vw;
    background-color: var(--card-box-color);
    box-shadow: 0px 0px 5px 0px var(--border-color);
    transition: box-shadow 0.3s; 
}


.card-box:hover {
    box-shadow: 0px 0px 15px 0px var(--dark-border-color);
}


@media (max-width: 728px) {
    .header-global {
        background-color: var(--header-bg-color);
        padding: 5px;
        height: 10vh;
        min-height: calc(75%);
    }

    .lado-direito {
        max-width: 344px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1920px) {

    .header-logo {
        display: inline-block;
        width: 30vw;
        height: auto;
        max-height: 90px;
        border: 1px solid red;

    }

    .container-links-header {
        display: inline;
        border: 1px solid red;
        line-height: 8vh;
        height: 60px;
        max-width: 70vw;
        margin-left: 30vw;
    
    }
}